@font-face {
    font-family: ATRotisSemiSans-ExtraBold;
    src: url('~/assets/fonts/ATRotisSemiSans-ExtraBold.otf');
}

@font-face {
    font-family: ATRotisSemiSans-Light;
    src: url('~/assets/fonts/atrotissemisans-light_bigfontsite.com.ttf');
}